[submodule "telegram"]
	path = telegram
	url = https://github.com/python-telegram-bot/python-telegram-bot.git
[submodule "tarantool-python"]
	path = tarantool-python
	url = https://github.com/tarantool/tarantool-python.git
